<div class="main-container">
  <h1>RxJs Error Handling and Debugging</h1>
  <h2>Pet Store</h2>
  <button (click)="fetchData()">Click To Reveal</button>  

  @if (loading) {
    <div id="spinner">
      <div class="spinner"></div>
    </div>
  }

  @if (error) {
    <p class="error">Ooops, An error occured: {{error}}</p>
  }

  @if (!loading && data) {
    @for (item of data; track $index) {
      <div class="content">
        <img [src]="item.image" alt="an dog image">
        <p class="name"> {{item.petName}}</p>

        <p class="breed">{{item.breed}}</p>
        <p class="price">{{item.price | currency}}</p>
      </div>
    }
  }
</div>

